html, body {
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%; }

.structure-main .row {
  overflow: auto;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 320px; }
  @media screen and (min-width: 720px) {
    .structure-main .row {
      width: 720px; } }
  @media screen and (min-width: 960px) {
    .structure-main .row {
      width: 960px; } }
.structure-main .column, .structure-main .columns {
  margin-left: 10px;
  margin-right: 10px;
  float: left; }
  .structure-main .column .column, .structure-main .column .columns, .structure-main .columns .column, .structure-main .columns .columns {
    margin-right: 0;
    margin-left: 0; }
    @media screen and (min-width: 720px) {
      .structure-main .column .column, .structure-main .column .columns, .structure-main .columns .column, .structure-main .columns .columns {
        margin-right: 0;
        margin-left: 20px; }
        .structure-main .column .column:first-child, .structure-main .column .column.first, .structure-main .column .columns:first-child, .structure-main .column .columns.first, .structure-main .columns .column:first-child, .structure-main .columns .column.first, .structure-main .columns .columns:first-child, .structure-main .columns .columns.first {
          margin-left: 0; } }
.structure-main .one {
  width: 300px; }
.structure-main .two {
  width: 300px; }
.structure-main .three {
  width: 300px; }
.structure-main .four {
  width: 300px; }
.structure-main .five {
  width: 300px; }
.structure-main .six {
  width: 300px; }
.structure-main .seven {
  width: 300px; }
.structure-main .eight {
  width: 300px; }
.structure-main .nine {
  width: 300px; }
.structure-main .ten {
  width: 300px; }
.structure-main .eleven {
  width: 300px; }
.structure-main .twelve {
  width: 300px; }
.structure-main .offset.by-one {
  margin-left: 10px; }
.structure-main .offset.by-two {
  margin-left: 10px; }
.structure-main .offset.by-three {
  margin-left: 10px; }
.structure-main .offset.by-four {
  margin-left: 10px; }
.structure-main .offset.by-five {
  margin-left: 10px; }
.structure-main .offset.by-six {
  margin-left: 10px; }
.structure-main .offset.by-seven {
  margin-left: 10px; }
.structure-main .offset.by-eight {
  margin-left: 10px; }
.structure-main .offset.by-nine {
  margin-left: 10px; }
.structure-main .offset.by-ten {
  margin-left: 10px; }
.structure-main .offset.by-eleven {
  margin-left: 10px; }
@media screen and (min-width: 720px) {
  .structure-main .one {
    width: 40px; }
  .structure-main .two {
    width: 100px; }
  .structure-main .three {
    width: 160px; }
  .structure-main .four {
    width: 220px; }
  .structure-main .five {
    width: 280px; }
  .structure-main .six {
    width: 340px; }
  .structure-main .seven {
    width: 400px; }
  .structure-main .eight {
    width: 460px; }
  .structure-main .nine {
    width: 520px; }
  .structure-main .ten {
    width: 580px; }
  .structure-main .eleven {
    width: 640px; }
  .structure-main .twelve {
    width: 700px; }
  .structure-main .offset.by-one {
    margin-left: 70px; }
  .structure-main .offset.by-two {
    margin-left: 130px; }
  .structure-main .offset.by-three {
    margin-left: 190px; }
  .structure-main .offset.by-four {
    margin-left: 250px; }
  .structure-main .offset.by-five {
    margin-left: 310px; }
  .structure-main .offset.by-six {
    margin-left: 370px; }
  .structure-main .offset.by-seven {
    margin-left: 430px; }
  .structure-main .offset.by-eight {
    margin-left: 490px; }
  .structure-main .offset.by-nine {
    margin-left: 550px; }
  .structure-main .offset.by-ten {
    margin-left: 610px; }
  .structure-main .offset.by-eleven {
    margin-left: 670px; } }
@media screen and (min-width: 960px) {
  .structure-main .one {
    width: 60px; }
  .structure-main .two {
    width: 140px; }
  .structure-main .three {
    width: 220px; }
  .structure-main .four {
    width: 300px; }
  .structure-main .five {
    width: 380px; }
  .structure-main .six {
    width: 460px; }
  .structure-main .seven {
    width: 540px; }
  .structure-main .eight {
    width: 620px; }
  .structure-main .nine {
    width: 700px; }
  .structure-main .ten {
    width: 780px; }
  .structure-main .eleven {
    width: 860px; }
  .structure-main .twelve {
    width: 940px; }
  .structure-main .offset.by-one {
    margin-left: 90px; }
  .structure-main .offset.by-two {
    margin-left: 170px; }
  .structure-main .offset.by-three {
    margin-left: 250px; }
  .structure-main .offset.by-four {
    margin-left: 330px; }
  .structure-main .offset.by-five {
    margin-left: 410px; }
  .structure-main .offset.by-six {
    margin-left: 490px; }
  .structure-main .offset.by-seven {
    margin-left: 570px; }
  .structure-main .offset.by-eight {
    margin-left: 650px; }
  .structure-main .offset.by-nine {
    margin-left: 730px; }
  .structure-main .offset.by-ten {
    margin-left: 810px; }
  .structure-main .offset.by-eleven {
    margin-left: 890px; } }
@media screen and (min-width: 720px) {
  .structure-main .mobile-only {
    display: none; } }
@media screen and (max-width: 720px) {
  .structure-main .tablet-only {
    display: none; } }
@media screen and (min-width: 960px) {
  .structure-main .tablet-only {
    display: none; } }
@media screen and (max-width: 960px) {
  .structure-main .desktop-only {
    display: none; } }

.structure-sidebar {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px; }
  .structure-sidebar:hover, .structure-sidebar.active {
    width: 100%; }
    @media screen and (min-width: 720px) {
      .structure-sidebar:hover, .structure-sidebar.active {
        width: 320px; } }
    @media screen and (min-width: 960px) {
      .structure-sidebar:hover, .structure-sidebar.active {
        width: 320px; } }
  .structure-sidebar nav {
    width: 100%; }
    @media screen and (min-width: 720px) {
      .structure-sidebar nav {
        width: 320px; } }
    @media screen and (min-width: 960px) {
      .structure-sidebar nav {
        width: 320px; } }
