html, body {
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%; }

.structure-grid .row {
  overflow: auto;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 320px; }
  @media screen and (min-width: 720px) {
    .structure-grid .row {
      width: 720px; } }
  @media screen and (min-width: 960px) {
    .structure-grid .row {
      width: 960px; } }
.structure-grid .column, .structure-grid .columns {
  margin-left: 10px;
  margin-right: 10px;
  float: left; }
  .structure-grid .column .column, .structure-grid .column .columns, .structure-grid .columns .column, .structure-grid .columns .columns {
    margin-right: 0;
    margin-left: 0; }
    @media screen and (min-width: 720px) {
      .structure-grid .column .column, .structure-grid .column .columns, .structure-grid .columns .column, .structure-grid .columns .columns {
        margin-right: 0;
        margin-left: 20px; }
        .structure-grid .column .column:first-child, .structure-grid .column .column.first, .structure-grid .column .columns:first-child, .structure-grid .column .columns.first, .structure-grid .columns .column:first-child, .structure-grid .columns .column.first, .structure-grid .columns .columns:first-child, .structure-grid .columns .columns.first {
          margin-left: 0; } }
.structure-grid .one {
  width: 300px; }
.structure-grid .two {
  width: 300px; }
.structure-grid .three {
  width: 300px; }
.structure-grid .four {
  width: 300px; }
.structure-grid .five {
  width: 300px; }
.structure-grid .six {
  width: 300px; }
.structure-grid .seven {
  width: 300px; }
.structure-grid .eight {
  width: 300px; }
.structure-grid .nine {
  width: 300px; }
.structure-grid .ten {
  width: 300px; }
.structure-grid .eleven {
  width: 300px; }
.structure-grid .twelve {
  width: 300px; }
.structure-grid .offset.by-one {
  margin-left: 10px; }
.structure-grid .offset.by-two {
  margin-left: 10px; }
.structure-grid .offset.by-three {
  margin-left: 10px; }
.structure-grid .offset.by-four {
  margin-left: 10px; }
.structure-grid .offset.by-five {
  margin-left: 10px; }
.structure-grid .offset.by-six {
  margin-left: 10px; }
.structure-grid .offset.by-seven {
  margin-left: 10px; }
.structure-grid .offset.by-eight {
  margin-left: 10px; }
.structure-grid .offset.by-nine {
  margin-left: 10px; }
.structure-grid .offset.by-ten {
  margin-left: 10px; }
.structure-grid .offset.by-eleven {
  margin-left: 10px; }
@media screen and (min-width: 720px) {
  .structure-grid .one {
    width: 40px; }
  .structure-grid .two {
    width: 100px; }
  .structure-grid .three {
    width: 160px; }
  .structure-grid .four {
    width: 220px; }
  .structure-grid .five {
    width: 280px; }
  .structure-grid .six {
    width: 340px; }
  .structure-grid .seven {
    width: 400px; }
  .structure-grid .eight {
    width: 460px; }
  .structure-grid .nine {
    width: 520px; }
  .structure-grid .ten {
    width: 580px; }
  .structure-grid .eleven {
    width: 640px; }
  .structure-grid .twelve {
    width: 700px; }
  .structure-grid .offset.by-one {
    margin-left: 70px; }
  .structure-grid .offset.by-two {
    margin-left: 130px; }
  .structure-grid .offset.by-three {
    margin-left: 190px; }
  .structure-grid .offset.by-four {
    margin-left: 250px; }
  .structure-grid .offset.by-five {
    margin-left: 310px; }
  .structure-grid .offset.by-six {
    margin-left: 370px; }
  .structure-grid .offset.by-seven {
    margin-left: 430px; }
  .structure-grid .offset.by-eight {
    margin-left: 490px; }
  .structure-grid .offset.by-nine {
    margin-left: 550px; }
  .structure-grid .offset.by-ten {
    margin-left: 610px; }
  .structure-grid .offset.by-eleven {
    margin-left: 670px; } }
@media screen and (min-width: 960px) {
  .structure-grid .one {
    width: 60px; }
  .structure-grid .two {
    width: 140px; }
  .structure-grid .three {
    width: 220px; }
  .structure-grid .four {
    width: 300px; }
  .structure-grid .five {
    width: 380px; }
  .structure-grid .six {
    width: 460px; }
  .structure-grid .seven {
    width: 540px; }
  .structure-grid .eight {
    width: 620px; }
  .structure-grid .nine {
    width: 700px; }
  .structure-grid .ten {
    width: 780px; }
  .structure-grid .eleven {
    width: 860px; }
  .structure-grid .twelve {
    width: 940px; }
  .structure-grid .offset.by-one {
    margin-left: 90px; }
  .structure-grid .offset.by-two {
    margin-left: 170px; }
  .structure-grid .offset.by-three {
    margin-left: 250px; }
  .structure-grid .offset.by-four {
    margin-left: 330px; }
  .structure-grid .offset.by-five {
    margin-left: 410px; }
  .structure-grid .offset.by-six {
    margin-left: 490px; }
  .structure-grid .offset.by-seven {
    margin-left: 570px; }
  .structure-grid .offset.by-eight {
    margin-left: 650px; }
  .structure-grid .offset.by-nine {
    margin-left: 730px; }
  .structure-grid .offset.by-ten {
    margin-left: 810px; }
  .structure-grid .offset.by-eleven {
    margin-left: 890px; } }
@media screen and (min-width: 720px) {
  .structure-grid .mobile-only {
    display: none; } }
@media screen and (max-width: 720px) {
  .structure-grid .tablet-only {
    display: none; } }
@media screen and (min-width: 960px) {
  .structure-grid .tablet-only {
    display: none; } }
@media screen and (max-width: 960px) {
  .structure-grid .desktop-only {
    display: none; } }

#structure-sidebar {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-transform: scale(1) translate3d(-97%, 0, 0);
  transform: scale(1) translate3d(-97%, 0, 0); }
  @media screen and (min-width: 720px) {
    #structure-sidebar {
      width: 320px;
      -webkit-transform: scale(1) translate3d(-310px, 0, 0);
      transform: scale(1) translate3d(-310px, 0, 0); } }
  @media screen and (min-width: 960px) {
    #structure-sidebar {
      width: 320px;
      -webkit-transform: scale(1) translate3d(-310px, 0, 0);
      transform: scale(1) translate3d(-310px, 0, 0); } }
  @media screen and (min-width: 1280px) {
    #structure-sidebar {
      width: 320px;
      -webkit-transform: scale(1) translate3d(0, 0, 0);
      transform: scale(1) translate3d(0, 0, 0); } }
  @media screen and (min-width: 1280px) {
    #structure-sidebar ~ .structure-content {
      margin-left: 320px; } }
  #structure-sidebar:not(.touch-enabled):hover, #structure-sidebar.active {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); }
  #structure-sidebar nav ul {
    list-style: none; }
    #structure-sidebar nav ul, #structure-sidebar nav ul li {
      margin: 0;
      padding: 0; }
  #structure-sidebar nav {
    width: 100%; }
    @media screen and (min-width: 720px) {
      #structure-sidebar nav {
        width: 320px; } }
    @media screen and (min-width: 960px) {
      #structure-sidebar nav {
        width: 320px; } }
