@import 'structure/variables';
@import 'structure/mixins';

#structure-sidebar {
	left 				: -97%;

	@media screen and (min-width: $tablet-width) {
		left			: -($sidebar-tablet-width - $margin);
	}
	@media screen and (min-width: $desktop-width) {
		left			: -($sidebar-desktop-width - $margin);
	}

	@media screen and (min-width: $desktop-width + $sidebar-desktop-width) {
		left			: 0;
	}

	&:hover, &.active {
		left			: 0;
	}
}
