.structure-footer {
	overflow	: auto;
	clear			: both;

	height		: $footer-mobile-height;
	@media screen and (min-width: $tablet-transition) {
		height	: $footer-tablet-height;
	}
	@media screen and (min-width: $desktop-transition) {
		height	: $footer-desktop-height;
	}
}
