.structure-sidebar {
	position		: fixed;
	overflow		: auto;
	overflow-x	: hidden;

	top					: 0;
	bottom			: 0;

	left				: 0;

	width				: $margin;

	z-index			: 100;

	@media screen and (min-width: $desktop-transition + $sidebar-desktop-width) {
		width					: $sidebar-desktop-width;
	}

	& ~ .structure-header, & ~ .structure-main {
		@media screen and (min-width: $desktop-transition + $sidebar-desktop-width) {
			margin-left	: $sidebar-desktop-width;
		}
	}

	&:hover, &.active {
		width			: $sidebar-mobile-width;
		@media screen and (min-width: $tablet-transition) {
			width			: $sidebar-tablet-width;
		}
		@media screen and (min-width: $desktop-transition) {
			width			: $sidebar-desktop-width;
		}
	}

	nav {
		width			: $sidebar-mobile-width;
		@media screen and (min-width: $tablet-transition) {
			width			: $sidebar-tablet-width;
		}
		@media screen and (min-width: $desktop-transition) {
			width			: $sidebar-desktop-width;
		}
	}
}
