#toolbar {
	text-align	: left;
	
	width				: $structure-toolbar-mobile-width;
	@media screen and (min-width: $concrete-tablet-transition) {
		position	: absolute;
		right			: 0;
		overflow	: auto;
		top				: $structure-header-tablet-height;
		bottom		: $structure-footer-tablet-height;
		width			: $structure-toolbar-tablet-width;
	}
	@media screen and (min-width: $concrete-desktop-transition) {
		width			: $structure-toolbar-desktop-width;
	}
	
	ul {
		list-style	: none;
		
		margin			: 0;
		padding			: 0;
		li {
			margin		: 0;
			padding		: 0;
		}
	}	
}