//	override concrete variables with structure
@import	'../../vendor/assets/concrete/scss/concrete/variables';

$structure-header-mobile-height		: 0;
$structure-header-tablet-height		: 0;
$structure-header-desktop-height	: 0;

$structure-footer-mobile-height		: 0;
$structure-footer-tablet-height		: 0;
$structure-footer-desktop-height	: 0;

$structure-sidebar-desktop-width	: 220px;
$structure-sidebar-tablet-width		: 160px;
$structure-sidebar-mobile-width		: 100%;

$structure-toolbar-desktop-width	: 60px;
$structure-toolbar-tablet-width		: 40px;
$structure-toolbar-mobile-width		: 100%;

$concrete-desktop-transition			: $concrete-desktop-width + $structure-sidebar-desktop-width + $structure-toolbar-desktop-width + ($concrete-margin * 4);
$concrete-tablet-transition				: $concrete-tablet-width + $structure-sidebar-tablet-width + $structure-toolbar-tablet-width + ($concrete-margin * 4);
$concrete-mobile-transition				: 320px;