$margin 						: 10px;

$desktop-width			: 960px;
$tablet-width				: 720px;
$mobile-width				: 320px;

$desktop-transition	: $desktop-width;
$tablet-transition	: $tablet-width;
$mobile-transition	: $mobile-width;

$sidebar-desktop-width	:	320px;
$sidebar-tablet-width		:	240px;
$sidebar-mobile-width		:	100%;

$mobile-single-sidebar-transition		: $mobile-width;
$tablet-single-sidebar-transition		: $tablet-width + $sidebar-tablet-width;
$desktop-single-sidebar-transition	: $desktop-width + $sidebar-desktop-width;

